html, body 
{  
width: 100%;  
height: 100%;  
margin: 0;  
min-height: 100%;
overflow: scroll;
font-family: 'Exo', sans-serif;
}
body
{
    display: flex;
    flex-direction: column;
}

#background 
{
    background:url(../images/background1%20copy.jpg) repeat-y -50px -55px;
    position:absolute;
    top:0;
    bottom: 0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: 135% 135%;   
}

#sbackground
{
    background:url(../images/background1%20copy.jpg) repeat-y -50px -25px;
    position:absolute;
    top:0;
    bottom: 0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: 120% 120%;   
}

#content
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#header, #footer
{
    position:fixed;	
    display:block;
    width: 100%;	
    z-index:9;	
    
}
#header
{
    top: 0px;
}
#footer
{
    bottom: 0px;
}
header
{
    box-shadow: 1px 1px white;
}
.header
{  
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.navBar
{
    list-style-type: none;
    margin: 0;
    padding-right: 2em;;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    
}
.navBar li 
{
    margin-right: .5em;
    font-size: 2em;
    float: right;    
}
.navBar li a 
{
    display: block;
    color: lightyellow;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none; 
}
.navBar li a:hover 
{
    border-left: 1px solid #EE1289	;
    border-right: 1px solid #EE1289	;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
        transform: scale(1.5);
    color: #EE1289;    
}
.name
{
    text-transform: uppercase;
    position: absolute;
    color: lightskyblue;
    margin-left: 25px;
    padding: .2em;
    text-decoration: none;
    border-left: none;
    float: left;
    overflow: hidden;
    font-size: 3em;
    text-shadow: 1px 1px maroon;   
}

.name:hover 
{
    color: firebrick;
    border-bottom: 1px solid firebrick;
}
.footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}
footer 
{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    background-color: black;  
}
footer ul
{
    margin: auto;

}
footer li
{
    position: absolute;
    float:right;
    padding-top: .3em;
}

footer li a
{
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-align: center;
    margin: auto;
    color:lightyellow;
    text-decoration: none;
    font-size: 2em;
    overflow: hidden;
}
footer li a:hover
{
    border-left: 1px solid #ED3C6D;
    border-right: 1px solid #ED3C6D;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
        transform: scale(1.3);
    color: #ED5C7A;
}

#footers
{
    margin-right: 2em;
    color: white;
    text-align: right;
}
#mainName
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main
{
    top: 5em;
    overflow:scroll;
    flex: none;
    height: 100%;
    width: 100%;
    position: relative;
}

#name
{
    color: lightcyan;
    text-shadow: 8px 8px 8px black;
    text-align:center;
    font-size:100px;
    font-weight:700;
    animation:blur 5s ease-out 1;
    text-shadow: 10px 10px 10px #000;
}

#arrowDown
{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 80%;
    background: url(../images/arrowdown.png);
    transform: translate(-50%);   
}

#arrowDown:hover
{
    background-image: url(../images/arrowDownHover.png);
}

#arrowUp
{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 10%;
    background: url(../images/arrowup.png);
    transform: translate(-50%);   
}

#arrowUp:hover
{
    background-image: url(../images/arrowuphover.png);
}

#Port1, #Port2,#Port2-1,#Port2-2, #Port3,#Port3-1, #Port3-2,#Port4,#Port4-1,#Port4-2, #Port5,#Port5-1,#Port5-2, #Port6, #Port6-1, #Port6-2, #Port7, #Port7-1, #Port7-2
{
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

#Port2
{
    background-image: url(../images/SilverEcho.png); 
}
#Port2-1
{
    opacity: 1;
    background-image: url(../images/SilverEchoTitle.png); 
}

#Port2-2
{
    opacity: 1;
    background-image: url(../images/SilverEchoPing.png);
}

#Port3
{
    background-image: url(../images/SlimeSpree.png);
}
#Port3-1
{
    opacity: 1;
    background-image: url(../images/SlimeSpreeTitle.png);
}

#Port3-2
{
    opacity: 1;
    background-image: url(../images/SlimeSpreegame.png);
}
#Port4
{
    background-image: url(../images/givejoy.png);
}

#Port4-1
{
    background-image: url(../images/CollegeCookOff.png);
}

#Port4-2
{
    background-image: url(../images/floorIsLava.png)  ;
}

#Port5
{
    background-image: url(../images/BlackFeather.png);
}

#Port5-1
{
    opacity: 1;
    background-image: url(../images/blackfeatherTitle.png);
}
#Port5-2
{
    opacity: 1;
    background: url(../images/Water.gif);
}
#Port6
{
    background-image: url(../images/Healthnet.png);
}
#Port6-1
{
    opacity: 1;
    background-image: url(../images/HealthnetTitle.png);
}

#Port6-2
{
    opacity: 1;
    background-image: url(../images/HealthnetAlt.png);
}
#Port7
{
    background-image: url(../images/OpenGL.png);
}

#Port7-1
{
    opacity: 1;
    background-image: url(../images/robox.png);
}
#Port7-2
{
    opacity: 1;
    background-image: url(../images/shapes.png);
}
.slideshow
{
    display: none;
}

.slides
{
    max-width: 600px;
    top:50%;
    position: absolute;
    left: 25%;
    transform: translate(-50%,-50%);
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px black,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
    }
}

#portfolioButton a
{
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    border: 1px solid lightskyblue;
    border-radius: 25px;
    box-shadow: 5px 5px black;
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px black;
}

#portfolioButton a:hover 
{
    color: lightyellow;
    background: black; 
    animation:blur 2s ease-out 1;
}

#readMore a
{
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 15%;
    top: 75%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
    border: 1px solid lightskyblue;
    border-radius: 25px;
    box-shadow: 5px 5px black;
    color: white;
    font-size: 20px;
    text-shadow: 3px 3px black;
    z-index: 10;
}

#readMore a:hover
{
    color: lightyellow;
    background: black; 
    animation:blur 2s ease-out 1;
}

.paragraph
{
    position: absolute;
    width: 45%;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: justify;
    text-align-last: center;
    font-size: 40px;
}

ul
{
    list-style: none;
}

#SilverInfo
{
    color: white;
    opacity: 1.0;
    position: absolute;
    top: 30%;
    transform: translate(0%, -50%);
}

#SilverInfo strong
{
    text-decoration: none;
    color: red;
    font-size: 40px;
}

.Role, .Role1, .RoleOpen, .RoleShape
{
    position: absolute;
    font-size: 60px;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -100%);
    animation:blur 2s ease-out 1;    
    text-shadow: -1px 1px white;
}

.Tools, .Tools1, .Toolshealth, .ToolsOpen, .ToolsShape
{
    position: absolute;
    font-size: 50px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -100%);
    animation:blur 2s ease-out 1;
    text-shadow: -1px 1px white;
}

#SilverRole, #SlimeRole, #blackRole, #healthRole, #openRole
{
    font-size: 25px;
    text-shadow: 1px 0px black;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    position: absolute;
    top:-15%;
    
}

#SilverRole1, #SlimeRole1, #blackRole1, #healthRole1
{
    text-shadow: 1px 0px black;
    font-size: 25px;
    background-color: rgba(255, 0, 0, 0.8);
    position: absolute;
    top:22%;
    padding: 20px;
}

#ToolsUsed, #ToolsUsedSlime, #ToolsUsed1, #ToolsUsedhealth, #ToolsUsedOpen, #ToolsUsedShape
{
    text-shadow: 1px 0px black;
    padding: 20px;
    padding-bottom: 10px;
    background-color: rgba(255, 0, 0, 0.8);
    position: absolute;
    font-size: 25px;
    width: 90%;
    height: 200px;
    top: 67%;
    left: 5%;
}
.paragraph strong
{
    text-decoration: underline;
    font-size: 30px;
}

#github, #githubOpen, #githubHealth, #githubBlack, #githubSlime
{
    background-image: url("../images/github.png");
    position: absolute;
    top: 100%;
    left: 10%;
    background-repeat: no-repeat;
}

#github:hover, #githubOpen:hover, #githubHealth:hover, #githubBlack:hover, githubSlime:hover
{
    background-image: url("../images/githubHover.png");
    background-repeat: no-repeat;
}

#download, #downloadHealth, #downloadSlime
{
    background-image: url("../images/downloadHover.png");
    position: absolute;
    top: 100%;
    left: 45%;
    background-repeat: no-repeat;
}

#download:hover, #downloadHealth:hover, #downloadSlime:hover
{
    background-image: url("../images/download.png");
    background-repeat: no-repeat;
}
#GlobalGame
{
    background-image: url("../images/GGJ-round-logo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 80%;
}
#GlobalGame:hover
{
    background-image: url("../images/GGJ-round-logoHover.png");
    background-repeat: no-repeat;
}

#silverTrailer
{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#SlimeInfo, #healthInfo
{
    font-size: 35px;
    color: white;
    opacity: 1.0;
    position: absolute;
    top: 35%;
    transform: translate(0%, -50%);
}
#SlimeRole
{
    background-color: rgba(255, 0, 255, 0.8);
}
#SlimeRole1
{
    background-color: rgba(255, 0, 255, 0.8);
}

#ToolsUsedSlime
{
     background-color: rgba(255, 0, 255, 0.8);
}

#githubSlime
{
    left:25%;
}
#downloadSlime
{
    left:65%;
}
#blackRole
{
    background-color: rgba(100, 100, 205, 0.9);
    top:-25%;
}
.Role1
{
    top: -35%; 
}
#blackRole1
{ 
    background-color: rgba(100, 100, 205, 0.9);
    top:37%;
}

#githubBlack
{
    left:50%;
}
#SlimeInfo strong, #healthInfo strong
{
    color: black;
    font-size: 50px;
    text-decoration: none;
}

.Tools1
{
    top: 80%;
}

#ToolsUsed1
{
    background-color: rgba(100, 100, 205, 0.9);
    top: 83%;
}

#healthRole
{
    background-color: rgba(10, 100, 200, 0.9);
}

#healthRole1
{
     background-color: rgba(10, 100, 200, 0.9);
    top: 30%;
}

#ToolsUsedhealth
{
     background-color: rgba(10, 100, 200, 0.9);
    top: 76%;
}

.Toolshealth
{
    top: 73%;
}

#githubHealth
{
    top:120%;
    left:25%;
}
#downloadHealth
{
    top:120%;
    left: 65%;
}
.RoleOpen
{
    top:-5%;
    text-align: center;
    
}

#openRole
{
    top:8%;
}

.ToolsOpen
{
    top: 58%;
    color: white;
    text-shadow: 1px 1px black;
}
 
#ToolsUsedOpen
{
    top:60%;
    height: 150px;
}

#githubOpen
{
    top: 120%;
    left: 50%;
}

#downloadOpen
{
    top:120%;
    left: 60%;
}

.RoleShape
{
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    top:-5%;
}

.ToolsShape
{
    color: white;
    text-shadow: 1px 1px black;
}

#ToolsUsedShape
{
    top: 68%;   
    height: 100px;
}

@media only screen and (min-width:150px) and (max-width: 640px)
{
    body 
    {
        width: 100%;
    }

    .name
    {
        width: 100%;
        position: relative;
        text-align: center;
        left: 50%;
        transform: translate(-55%, 0); 
    }
    .navBar li 
    {
        width: 100%;
        float: none;    
    }

    #main{
        
    position: relative;
    top:22em;
    overflow-y: auto;
    flex: none;
    
    width: 100%;
    background:transparent;
   
}

}